.BeatLoader {
  .BeatLoader-child {
    border-radius: 50%;
    display: inline-block;
    animation-fill-mode: both;
    animation-name: Beat;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: .8s;
    transform-origin: center;
  }
}

@keyframes Beat {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
