.BounceLoader .BounceLoader-item {
  border-radius: 50%;
  display: inline-block;
  animation-fill-mode: both;
  animation-name: Bounce;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes Bounce {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(8px); }
  75% { transform: translateY(-8px); }
}
