.CircularLoader {
  animation: CircularRotate 1s linear infinite;

  .CircularLoader-bar {
    stroke-dasharray: 120;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: CircularBarDash 1s ease-in-out infinite;
  }
}

@keyframes CircularRotate {
  100% { transform: rotate(270deg); }
}

@keyframes CircularBarDash {
  0% { stroke-dashoffset: 120; }

  50% {
    stroke-dashoffset: 40;
    transform: rotate(120deg);
  }

  100% {
    stroke-dashoffset: 120;
    transform: rotate(360deg);
  }
}
