.CircularLoader {
  animation: CircularRotate linear infinite;
}

.CircularLoader .CircularLoader-bar {
  transform-origin: center;
  animation: CircularBarDash ease-in-out infinite;
}

@keyframes CircularRotate {
  100% { transform: rotate(360deg); }
}

/*
 * from: https://codepen.io/jczimm/pen/vEBpoL
 */

@keyframes CircularBarDash {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
 }
 50% {
   stroke-dasharray: 89, 200;
   stroke-dashoffset: -35;
 }
 100% {
   stroke-dasharray: 89, 200;
   stroke-dashoffset: -124;
 }
}
