.CircularLoader {
  animation: CircularRotate 1s linear infinite;

  circle {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: CircularBarDash 1s ease-in-out infinite;
  }
}

@keyframes CircularRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes CircularBarDash {
  0% { stroke-dashoffset: 187; }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
