.RotateLoader {
  .RotateLoader-child:first-child {
    opacity: .2;
  }

  .RotateLoader-child:last-child {
    animation: Rotate .8s linear infinite;
    stroke-dasharray: 20 180;
    transform-origin: center;
  }
}

@keyframes Rotate {
  0% { transform: rotate(0deg); }
  30% { transform: rotate(200deg); }
  100% { transform: rotate(360deg); }
}
