@import '../styles/common.css';

.RotateLoader .RotateLoader-item:first-child {
  opacity: .2;
}

.RotateLoader .RotateLoader-item:last-child {
  animation: Rotate linear infinite;
  stroke-dasharray: 20 180;
  transform-origin: center;
}
