.SpinLoader-child {
  transform-origin: center;
  animation-name: SpinFade;
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes SpinFade {
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
