html {
  &, * {
    box-sizing: border-box;
  }
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #282838;
  color: #ccc;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-weight: 300;
}

.App {
  height: 100%;
}

.App-title {
  position: relative;
  padding: 8px 0;
  border-bottom: 2px dashed #ccc;
  text-align: center;
}

.App-container {
  position: relative;
  padding: 2em 1em;
}

.App-demo {
  width: 33.3%;
  min-height: 150px;
  margin-bottom: 4em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
}

.App-loader {
  padding: 2em;
}

.App-code {
  padding: 4px 1em;
  margin-top: auto;
  background: rgba(255, 243, 243, 0.07);
  color: #cc7171;
  border-radius: 3px;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 650px) {
  .App-code {
    margin-top: 2em;
  }

  .App-demo {
    padding: 0;
    width: 100%;
    max-height: 30vw;
  }
}
