html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #282838;
  color: #ccc;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-weight: 300;
}

.App {
  height: 100%;
}

.App-title {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px dashed #ccc;
  text-align: center;
}

.App-demo {
  position: relative;
  padding: 2em 8px;
  text-align: center;
}

.App-loader {
  width: 120px;
  height: 120px;
  padding: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

@media (max-width: 650px) {
  .App-loader {
    padding: 0;
    margin: auto;
    width: 100%;
    max-height: 30vw;
  }
}
